{% extends 'base/mainbase.html' %}
{% block main %}




<div class="content-home">
    <h1>Welcome to Traveller's Tales</h1>
    {% if user.is_authenticated %}
    <a class='btn btn-light' style="padding: 1px;;" href="{% url 'reviewlist' %}">Click here to see reviews.</a><br>
    {% if user.is_superuser %}

    <a class='btn btn-light' style="padding: 1px;;" href="/admin">Click here to go to admin page.</a><br>

    {% endif %}
    <a class='btn btn-light' style="padding: 1px;;" href="{% url 'logout' %}">Click here to logout.</a><br>
    {% else %}
    <a class='btn btn-light' style="padding: 1px;;" href="{% url 'login' %}">Click here to login.</a><br>
    {% endif %}
</div>




{% endblock %}