<div class="navbar-main">
    <nav class="navbar navbar-expand-lg navbar-ligt bg-primary">
        <div class="navbar-brand" href="#">
            {% if request.user.is_authenticated %}
            <span class="material-icons">
                account_circle
            </span>Hi {{user}}
            {% else %}
            <span>Hi {{user}}</span>
            {% endif %}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="size: 5px;">≣</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-nav">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        


                            <a href="{% url 'home' %}"><div class="btn btn-primary"><span class="material-icons">
                                    home
                                </span></div></a>
                        
                        
                            <a href="{% url 'reviewlist' %}"><div class="btn btn-primary">Locations</div></a>
                        
                        {% if request.user.is_authenticated %}
                        

                            <a href="{% url 'userreviewlist' %}"><div class="btn btn-primary">Your Reviews</div></a>
                        
                        
                            <a href="{% url 'logout' %}"><div class="btn btn-primary"> Logout</div></a>
                        

                        {% else %}
                        
                            <a href="{% url 'login' %}"><div class="btn btn-primary"> Login</div></a>
                        
                        
                            <a href="{% url 'register' %}"><div class="btn btn-primary"> Register</div></a>
                        
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
</div>
</nav>

</div>